<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>provident illo laboriosam fugiat praesentium excepturi necessitatibus eveniet sunt voluptates. Similique, nobis. </p>
                <div class="col-md-6 text-md-right">
                    <a href="#" class="me-2"><mat-icon color="primary">facebook</mat-icon></a>
                    <a href="#"><mat-icon color="warn">my_location</mat-icon></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="text-muted">{{ currentYear}} Mi Empresa</span>
                </div>
            </div>
        </div>
    </div>
</footer>