<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="2000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- slide 1 -->
            <div class="carousel-item active" style="background-image: url('https://exitoempresarial.com.mx/public/imagenes/BlogPost/LLEVAR%20TU%20PERRO%20A%20LA%20OFICINA,%20UNA%20TENDENCIA%20EN%20CRECIMIENTO/perros%20en%20oficina%20abril%201.webp');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInUp" >Bienvenido</h2>
                        <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nostrum, odio maiores beatae delectus laudantium consequatur ab voluptas vel! </p>
                        <button class="animate__animated animate__fadeInUp" mat-flat-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
            <!-- slide 2 -->
            <div class="carousel-item" style="background-image: url('https://media.istockphoto.com/id/1142921692/es/foto/perro-jefe.webp?b=1&s=170667a&w=0&k=20&c=eBQRBWNV7gFQ7Qel4BfX7iaztzmv0K9DEcRF-jS3nW0=');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInUp" >Compra en línea</h2>
                        <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nostrum, odio maiores beatae delectus laudantium consequatur ab voluptas vel! </p>
                        <button class="animate__animated animate__fadeInUp" mat-flat-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
            <!-- slide 3 -->
            <div class="carousel-item" style="background-image: url('https://static.diariofemenino.com/uploads/mascotas/trabajar-con-tu-perro-4.jpg');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInUp" >Administra en línea</h2>
                        <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nostrum, odio maiores beatae delectus laudantium consequatur ab voluptas vel! </p>
                        <button class="animate__animated animate__fadeInUp" mat-flat-button color="primary">Ver más</button>
                    </div>
                </div>
            </div>
        </div>

<a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
    <span class="carousel-contorl-prev-icon bi bi-chevron-left"></span>
</a>

<a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
    <span class="carousel-contorl-next-icon bi bi-chevron-right"></span>
</a>
    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-lg-6">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>